<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <!-- Include this if we want description -->
      <!-- <p class="lead">{{ site.description }}</p> -->
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <a class="sidebar-nav-item" href="mailto:trungtuanle90@gmail.com"><i class="fas fa-envelope fa-sm icon"></i></i>Email</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/trungtuanle/"><i class="fab fa-linkedin fa-sm icon"></i></i>LinkedIn</a>
      <a class="sidebar-nav-item" href="https://github.com/trungtle"><i class="fab fa-github fa-sm icon"></i></i>Github</a>
      <a class="sidebar-nav-item" href="{% link /assets/doc/Resume_TrungLe.pdf %}"><i class="fas fa-download fa-sm icon"></i>Resume</a>
    </nav>
    <hr>
    <p>Projects</p>
    <nav class="sidebar-nav">
      {% assign pages_list = site.pages %}
      {% for project in site.projects %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              {% if node.id == project.id %}
                <a class="sidebar-nav-item-sub{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                {% break %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
